langchain-text-splitters
langchain-google-genai
langchain-pinecone>=0.1.0
langchain-core>=0.2.0
langchain-community
langchain-huggingface 
huggingface-hub
langchain
pinecone
pymupdf
tqdm
dotenv
fastapi
uvicorn
pytesseract
pillow
supabase
beautifulsoup4
asyncpg
# uv pip install curl-cffi --only-binary=:all: --break-system-packages
# browser-cookie3
tabulate
duckdb
groq
pandas
cohere
pinecone-text
redis